DISCORD_TOKEN=
GUILD_ID=
ADMIN_ROLE_ID=
DATABASE_PATH=data/vpsbot.db

LXD_REMOTE=local
LXD_PROFILE=default
LXD_IMAGE=ubuntu:24.04
LXD_PROJECT=default

DEFAULT_CPU=2
DEFAULT_MEMORY=2GiB
DEFAULT_DISK=20GiB

PUBLIC_IP=
SSH_PORT_START=22000
SSH_PORT_END=22999
ENABLE_PORT_FORWARD=true
